<% if @success %>
<span class="entersubhead">Success! Your photo has been uploaded.</span>
<br/>
<p>Thank you for participating in <%= get_brand %>' Picture This! calendar contest. You will soon receive an email confirming that your photo has been received. If your photo is selected as one of our winners, we will notify you via email the week of December 12, 2011.</p>

<p>
In the meantime, help share the spirit of community commitment. Tell your family and friends about our Picture This! calendar contest and encourage them to participate, too!
<p>
                                                                              
<p>If you’d like a FREE QUOTE on low-cost auto insurance, please visit <a href="<%= get_brand_url %>" target="_blank"><%= get_brand %></a> today.</p>

<img src='<%= tentaculos_pixel_url %>'  width='0' height='0' alt='' />

<% end %>
