<h1>Contest Statistics</h1>
<table width= "50%" >
  <tr  >
    <td class="entersubhead">Total Contest Submissions:</td>
    <td><strong><%= @stats["total_entries"] %></strong></td>
  </tr>
  <tr>
    <td class="entersubhead">Number of Rated Submissions:</td>
    <td><strong><%= @stats["total_rated"] %></strong></td>
  </tr>
  <tr>
    <td class="entersubhead">Unrated Submissions:</td>
    <td><strong><%= @stats["total_unrated"]%></strong></td>
  </tr>
</table>
