<p>
Thank you for participating in <%= @brand_name %>'s Picture This! calendar contest. We have received your photo submission. If your photo is selected as one of our winners, we will notify you via email the week of December 12, 2011. Good luck!
</p>
<p>
Until then, help share the spirit of community commitment. Tell your family and friends about our Picture This! calendar contest and encourage them to participate, too!
<p>
If you’d like a FREE QUOTE on low-cost auto insurance, please visit <%= link_to @brand_name, @brand_url %> today.
</p>
