<span class="entersubhead"><p>Thank you for visiting us! Our contest has ended.</p></span>

<p>Thanks to all of you who share our spirit of community and participated in<br/> <%= get_brand.possessive %> PICTURE THIS! calendar contest.</p>
	
<p>Unfortunately the last date to enter was December 23, 2011.</p>

<p>Please stay tuned for new contests and promotions coming soon! Until then, we look forward to continuing our focus on the communities we serve and call home.</p>

<p>Remember, if you’d like a FREE QUOTE on low-cost auto insurance, please visit <br />
<a href="<%= get_brand_url %>"        
   target="_blank">
<%= get_brand %> 
</a>
today.
</p>


