/*.container {
 
}

body {
 background: #fff9f3;
  font-family: arial, sans-serif;
}


header {
  width: 100%;
  padding-top: 20px;
}

-- Nav Bar

nav {
  width: 100%;
  float: left;
}

nav {
  
  background-color: #9d1616;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  color: white;
  padding: 0 5px;
  font-weight: bold;
}


h1, h2 {
  color:   #9d1616
}

h3.step {
  padding-top: 10px;
  clear: both;
  color:  #dec19e 
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px; 
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  color: #d0a16d;  
}



div.field, div.actions {
  margin-bottom: 10px;
  display: block;  
  clear: left;      
}

div.field label {
  color:#a7a7a7;
  text-align: right;
  padding-right: 20px;
  float: left;
  display: block;
  width: 200px;
  clear: none;
}


div.field text {
  width: 200px;
  float: left;
  display: block;
  
}

div#rules  {
  margin-top:  20px;
  padding-top: 10px;
}

select {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;  
}

*/

.field_with_errors label {
  color: #fff;
}

.field_with_errors {  
  background-color: red;  
}



#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.long_label {
  text-align: right;
  padding-left: 15px;
}


#gallery {
  border: thick;
  border-color: #ae7436; 
}


tr.contestant_email_grid {
 width:670px;
 background-color: #ae7436;
 padding-left :20px;
}

tr.contestant_email_grid td {
 
  padding:10px;
}

tr.contestant_entries {
  margin:0;
  padding:0;
}

td.contestant_entry {
  padding:10px;
  
}

span.rating_form { 
 float:left; 
}

span.rating_form span {
  clear: both;
  float:left;
}
  

img.entry_image { 
 
}



span.rating {  
  
}

label.entry_details {  
  font-weight: bold;
  padding-right: 15px;
  margin-right: 10px;
}

a.details_link {
  clear:both;
  float: left;
  
}

div.rating_form {
  
}

p.entry_detail {
  clear: both; 
}

label.rating_form_lab{
 text-align: left;  
}


#main_gallery {
  float:left;
  width:670px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}


#sidebar_gallery {
  float:right;
  width:281px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.prior {
  color: #a65510;
  font-size: 80%;
}

rating_but { 
  text-align:left;
  float:left;
}
