<head>
  <title>PICTURE THIS! calendar contest</title>
  <%= stylesheet_link_tag    "application" %>
  <link href='https://fonts.googleapis.com/css?family=Poly' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <style type="text/css" media="screen">#FlashID {visibility:inherit}</style>
  <%= csrf_meta_tags %>
</head>
