<div id="nav">
  <ul>            
    <li><span class="navspace"><%= link_to "Home", root_path %></span></li>|
    <li><span class="navspace"><%= link_to "Enter", enter_path %></span></li>|
    <li><span class="navspace"><%= link_to "Rules", rules_path %></span></li>
  </ul>          
</nav>
</div>