<div id="sidebar">
  <%= image_tag("calendars.png", :alt=>"Calendars", :width=>"345", :height => "687") %>           
  <br />
  <%= image_tag(get_branded_asset("mycommlogo.png"),
                :alt=>"My Community",
                :width=>"303",
                :height => "175", 
                :class => "mycommpadding") %>           
</div><!-- sidebar -->